/*body {
	background: #303030;
	color: #dedede;
}
#login {
	width: 400px;
}
.login #login h1 a {
	background: url('../images/logo.png') no-repeat 0 0;
	background-position: center center;
	background-size: 350px auto;
	width: auto;
	height: 120px;
}
.login .message {
	background: #3F3F3F;
	border-left: 4px solid #4ca146;
}
.login label {
	color: #dedede;
}
.login form {
	background: #3F3F3F;
}
input[type=checkbox]:checked:before {
	color: #4ca146;
}
.wp-core-ui .button-primary {
	background: #4ca146;
	border-color: #2E612A;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:active {
	background: #2E612A;
	border-color: #2E612A;
}
.login #nav a, .login #backtoblog a {
	color: #dedede;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.login #nav a:hover, .login #backtoblog a:hover {
	color: #4ca146;
}*/
