// Basic colors
$bg-color: #fff;
$border-color: #31353d;
$text-color: #31353d;
$hr-color: #31353d;
$white: #ffffff;
$black: #000000;
$grey: #999999;
$lightgrey: #dddddd;


// Theme colors
$primary-color: #92cdcf;
$primary-dark-color: #384F4F;
$primary-light-color: #9BDADC;
$primary-text-color: #fff;

$secondary-color: #31353d;
$secondary-dark-color: #292C33;
$secondary-light-color: #6E7789;
$secondary-text-color: #fff;



// Message colors
$success-color: #0AA84A;
$success-dark-color: #06692E;
$danger-color: #F5665D;
$danger-dark-color: #B5372F;
$warning-color: #FFDA59;
$warning-dark-color: #C4A848;

$message-text-color: #fff;

// Link colors
$link-color: $primary-color;
$link-color-hover: $primary-light-color;
$link-color-bg: $bg-color;


// Input colors
$input-text-color: $text-color;
$input-text-color-focus: $primary-color;

$input-border-color: $border-color;
$input-border-color-focus: $primary-color;


// Code, mark, ins colors
$pre-bg-color: #eee;
$ins-bg-color: #fff9c0;
