@mixin transition($time){
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    transition: all $time ease; 
}

@mixin opacity($percent){
    opacity: $percent;
    $percent-ie: $percent * 100;
    filter:Alpha(opacity=$percent-ie);
}

@mixin animation($name, $time) {
    -webkit-animation-duration: #{$time};
    -moz-animation-duration: #{$time};
    -ms-animation-duration: #{$time};
    -o-animation-duration: #{$time};
    animation-duration: #{$time};

    -webkit-animation: #{$name};
    -moz-animation: #{$name};
    -ms-animation: #{$name};
    -o-animation: #{$name};
    animation: #{$name};
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
    @include transform(scale($scale));
} 
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
@mixin skew ($x, $y, $height) {
    @include transform(skew(#{$x}deg, #{$y}deg));
    height: $height;
    position: relative;
    top: -11rem;
}

@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}
@mixin transform-style ($style){
    -webkit-transform-style: $style;
    -moz-transform-style: $style;
    transform-style: $style;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}
