.row {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 10rem 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    -webkit-flex-flow: row wrap;
}

.column {
    box-sizing: border-box;
    padding: 1.5rem;

    @include breakpoint(phone) {
        padding: 1rem 0;
    }

    &:first-of-type {
        padding: 1.5rem 1.5rem 1.5rem 0;

        @include breakpoint(phone) {
            padding: 1rem 0;
        }
    }

    &:nth-child(3n) {
        padding: 1.5rem 0 1.5rem 1.5rem;

        @include breakpoint(phone) {
            padding: 1rem 0;
        }
    }
}

/* Size classs */
.size1, .size2, .size3, .size4, .size5, .size6, .size7, .size8, .size9, .size10, .size11, .size12 {
    margin: 0 3% 0 0;

    &:last-of-type {
        margin-right: 0;
    }
}

.size1 {
    width: 5.5%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size2 {
    width: 14%;;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size3 {
    width: 22.5%;;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size4 {
    width: 31%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size5 {
    width: 39.5%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size6 {
    width: 48%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size7 {
    width: 56.5%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size8 {
    width: 65%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size9 {
    width: 73.5%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size10 {
    width: 82%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size11 {
    width: 90.5%;

    @include breakpoint(phone) {
        width: 100%;
    }
}
.size12 {
    width: 99%;
    margin: 0;

    @include breakpoint(phone) {
        width: 100%;
    }
}

/* Order classes */
.order1 {
    order: 1;
}
.order2 {
    order: 2;
}
.order3 {
    order: 3;
}
.order4 {
    order: 4;
}
.order5 {
    order: 5;
}
.order6 {
    order: 6;
}
.order7 {
    order: 7;
}
.order8 {
    order: 8;
}
.order9 {
    order: 9;
}
.order10 {
    order: 10;
}
.order11 {
    order: 11;
}
.order12 {
    order: 12;
}