// Global variables
$site-width: 1220px;
$site-main: 100%;
$site-sidebar: 25%;
$site-sidebar_float: right;
$site-margin: 3rem;
$site-size: 10px;
$radius: 0;

@import 'variables/colors';
@import 'variables/typography';
@import 'variables/buttons';
