// Buttons
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  border-radius: $radius;
  background: $button-bg-color;
  color: $button-text-color;
  line-height: 1.9rem;
  padding: .7rem 1rem .6rem;
  text-decoration: none;

  &:hover {
    background: $button-bg-color-hover;
    border-color: $button-border-color-hover;
  }

  &:active,
  &:focus {
    background: $button-bg-color-focus;
    outline: none;
  }
}

.btn.btn-primary,
input[type="submit"] {
  background: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
  text-transform: uppercase;
  padding: 1rem 3rem;

  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    color: $white;
  }
}

.btn.btn-secondary {
  background: $primary-color;
  color: $primary-text-color;

  &:hover {
    background: $primary-dark-color;
  }
}

.btn.btn-inverse {
  background: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
  text-transform: uppercase;
  padding: 1rem 3rem;

  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    color: $bg-color;
  }
}

.btn.btn-success {
  background: $success-color;
  color: $message-text-color;

  &:hover {
    background: $success-dark-color;
  }
}

.btn.btn-warning {
  background: $warning-color;
  color: $message-text-color;

  &:hover {
    background: $warning-dark-color;
  }
}

.btn.btn-danger {
  background: $danger-color;
  color: $message-text-color;

  &:hover {
    background: $danger-dark-color;
  }
}