.grahlieLogo {
    font-size: 1.2rem;
    line-height: 80px;

    a {
        background: url('../roosmekaniska/images/grahlie.svg') no-repeat;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        margin: 0 0 -2.4rem .5rem;
    }
}