html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $bg-color;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.hentry {
  @include clearfix;
}

// Main layout
.header-content, .site, .footer-content {
  @include breakpoint(screen-large) {
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
  }

  max-width: $site-width;
  margin-left: 2rem;
  margin-right: 2rem;
}

.blog .post-content, .search .post-content, .post-content {
  @include siteMain-float();
  margin: 0 (-$site-sidebar) 0 0;
  width: $site-main;

  @include breakpoint(tablet-up) {
    .site-main {
      margin: 0 $site-sidebar 0 0;
      padding: 0 2rem 0 0;
    }
  }
}

.site-footer {
  clear: both;
  width: $site-main;
}

// Sidebar layout
.widget-area {
  display: none;
  visibility: hidden;
}

@include breakpoint(tablet-up) {
  .widget-area {
    float: $site-sidebar_float;
    overflow: hidden;
    width: $site-sidebar;
    display: block;
    visibility: visible;
  }
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

.widget {
  margin: 0 0 1.5rem;

  select {
    max-width: 100%;
  }
}


// Post & Pages layout
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5rem;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5rem;
}

// Text layout
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5rem;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5rem;
}

.aligncenter {
  clear: both;
  @include center-block;
}

// Comments layout
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

