.header-content {
  @include clearfix();
  height: 8rem;
  padding-top: 2rem;
}

.header-image {
  background-size: cover;
  background-position: center center;
  height: 50rem;
  margin-bottom: 4rem;
  padding: 2rem 2rem 0;
}

.site-branding {
  display: inline-block;
  float: left;
  margin-right: 2rem;
}

#nav-trigger {
  display: none;
  visibility: hidden;
}

@include breakpoint(screen) {
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation {
    margin: 0;
    padding-left: 0;
    float: right;

    .sub-menu {
      background: $primary-color;
      float: left;
      position: absolute;
      top: 3rem;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        color: $bg-color;
        width: 15rem;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }

    li {
      float: left;
      position: relative;

      a {
        display: block;
        text-decoration: none;
        padding: 0.5rem;
      }

      &:hover > a,
      &.focus > a {
        background: $primary-color;
        color: $bg-color;
      }
    }
  }

  body:not(.home) .current_page_item > a,
  body:not(.home) .current_page_parent > a,
  body:not(.home) .current-menu-item > a,
  body:not(.home) .current_page_ancestor > a,
  body:not(.home) .current-menu-ancestor > a {
    background: $primary-color;
    color: $bg-color;
  }
}

/* Mobile navigation */
@include breakpoint(phone-and-tablet) {
  #nav-trigger:checked ~ .navigation {
    visibility: visible;
    background: $primary-color;
    transform: translate(0, 0);

    li, li a {
      visibility: visible;
    }
  }

  #nav-trigger:checked ~ #navopen {
    background: $primary-color;
    right: 24rem;

    &::before, &::after {
      top: 45%;
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  #navopen {
    background: $primary-color;
    width: 8rem;
    height: 8rem;
    margin-top: -2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
    @include transition(0.5s);

    &::before, &::after {
      width: 3rem;
      height: 0.2rem;
      content: '';
      position: absolute;
      left: 30%;
      top: 2.7rem;
      background: $primary-text-color;
      box-shadow: 0 0.8rem 0 0 $primary-text-color,0 1.6rem 0 0 $primary-text-color;
    }
  }

  .navigation {
    visibility: hidden;
    width: 24rem;
    height: 100%;
    padding: 2rem 2rem;
    margin-top: -2rem;
    list-style: none;
    position: fixed;
    right: 0;
    transform: translate(100%, 0);
    @include transition(0.5s);

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 2rem;
    }

    a, a:visited {
      text-decoration: none;
      color: $primary-text-color;
      @include transition(0.5s);
    }
  }
}
