.header-content {
  @include clearfix();
  height: 8rem;
  padding-top: 2rem;
}

.header-image {
  background-size: cover;
  background-position: center center;
  height: 500px;
  margin-bottom: 4rem;
}

.site-branding {
  display: inline-block;
  float: left;
  margin-right: 2rem;
}

.main-navigation {
  float: right; 

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    .sub-menu {
      background: $primary-color;
      float: left;
      position: absolute;
      top: 3rem;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        color: $bg-color;
        width: 15rem;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    float: left;
    position: relative;

    a {
      display: block;
      text-decoration: none;
      padding: 0.5rem;
    }

    &:hover > a,
    &.focus > a {
      background: $primary-color;
      color: $bg-color;
    }
  }
}

body:not(.home) .current_page_item > a,
body:not(.home) .current_page_parent > a,
body:not(.home) .current-menu-item > a,
body:not(.home) .current_page_ancestor > a,
body:not(.home) .current-menu-ancestor > a {
  background: $primary-color;
  color: $bg-color;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
