$font: sans-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height: 1.5;
$font-line-height-pre: 1.6;
$font-size: 10px;
$font-margin: 1.5rem;

$header-font: sans-serif;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1rem;
$h5-font-size: 0.9rem;
$h6-font-size: 0.7rem;
