// Global variables
$site-main: 100%;
$site-sidebar: 25%;
$site-sidebar_float: right;

@mixin siteMain-float(){
    @if $site-sidebar_float == 'left' {
        float: right;
    } @else {
        float: left;
    }
}

$radius: 0.3rem;

@import 'colors';
@import 'typography';
